  <style type="text/css">
            /* This css classname is not styled by the toolkit, and is intentionally
            left for the developer to customize window content. */
            .mqabasicwnd-content {
                font-size: 13px;
                font-weight: bold;
                white-space: nowrap;
            }
 </style>