.recommendation_table 
{
	font-size:15px;
	border-bottom-style:solid;
	border-width:1px;
	background-color: #FFF5EB;	

}
.recommendation_tr
{
	border-bottom-style:solid;
	border-width:1px	

}
.recommendation_td
{

	vertical-align:top;
}
.recommendation_img
{

	width:100%; 
	height:40%;
	padding-top:2px;
}
.slider_img
{
	padding-left:1px;
	/*padding-bottom: 1px;*/
	outline: none;

}
.img_link{
	text-decoration: none;
}